<nav class="pt-4 w-full">
    <ul class="menu bg-base-200 sm:menu-horizontal rounded-box">
        <li>
            <a class="btn" routerLink="by-capital" routerLinkActive="btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1">
                        <path
                            d="M7.36 13.433a1 1 0 0 1-.72 0A9.565 9.565 0 0 1 .505 4.498V1.499a1 1 0 0 1 1-.999h10.993a1 1 0 0 1 1 1v2.998a9.565 9.565 0 0 1-6.137 8.935" />
                        <path
                            d="m3.059 4.55l.826-.282a.28.28 0 0 1 .364.149l.603.934l3.306-1.653A2.058 2.058 0 0 1 11.1 4.739a.563.563 0 0 1-.372.703L8.79 6.01l-.215.066l-.744 2.178a.3.3 0 0 1-.198.207L6.439 8.9a.306.306 0 0 1-.397-.347l.537-1.765l-.14.041l-2.107.686a.554.554 0 0 1-.703-.339l-.744-2.289a.28.28 0 0 1 .174-.339" />
                    </g>
                </svg>

                Por capital
            </a>
        </li>
        <li>
            <a class="btn" routerLink="by-country" routerLinkActive="btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        d="M10.5 1.239a9 9 0 0 0-7 0m5.7 2.099a6.78 6.78 0 0 0-4.36 0m6.03 5.369a.22.22 0 0 1-.153-.177a3.415 3.415 0 0 0-6.63-.804a.2.2 0 0 1-.184.113a2.819 2.819 0 0 0 .377 5.624h6.05a2.41 2.41 0 0 0 .54-4.756"
                        stroke-width="1" />
                </svg>
                Por país
            </a>
        </li>
        <li>
            <a class="btn" routerLink="by-region" routerLinkActive="btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1">
                        <path
                            d="M.5 3.5v9a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-9a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2m0 1h8m-8 3h8m0 4h3a2 2 0 0 0 2-2v0a2 2 0 0 0-2-2v0a1 1 0 0 1-1-1V4l3-3" />
                        <path d="m10.5 5.5l2-.5V2M6 10v1" />
                    </g>
                </svg>
                Por región
            </a>
        </li>
    </ul>
</nav>